# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local environment
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/.local-server/

# system and editors
.DS_Store
Thumbs.db
*.pem

# typescript
*.tsbuildinfo
